{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'untitled7/css/new.css' %}">
    <meta charset="UTF-8">
    <title>About Author</title>
    <style type="text/css">
        .book_list {
    width: 20%;
    padding: 1px;
    background: #6c605c;
    border: 1px solid #4e1818;
   }
    </style>
</head>
<body>
<h4>{{ author }}</h4><br>
Все книги этого автора:<br>

    {% for booklist in allbooks %}
        <div class="book_list">{{ booklist }}</div>
        {% endfor %}
</body>
</html>