{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'untitled7/css/new.css' %}">
    <meta charset="UTF-8">
    <title>about book</title>
    <style>
    li {
        list-style-type: none;
       }
    </style>
    <style type="text/css">
        .info {
    width: 30%;
    padding: 10px;
    background: #e2dede;
    border: 1px solid #000000;
    }
    </style>
</head>
<body>
    <ul>
    {% for key, value in booking.items %}
        {% if key == 'author' %}
            <div class="info" onclick="location.href='/author/{{value}}'">{{ key }} : {{ value }} </div>
        {% else %}
            <li><div class="info">{{ key }} : {{ value }}</div></li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>