{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your xml file</title>
    <link rel="stylesheet" href="{% static 'untitled7/css/new.css' %}">

    <style type="text/css">
        .space {
    width: 50%;
    padding: 1px; /* Поля */
    background: #6c605c; /* Цвет фона */
    border: 2px solid #4e1818; /* Параметры рамки */
   }
        .head {
   width: 50%;
   padding: 1px;
   background: #6c605c;
   border: 2px solid #4e1818;
        }
    </style>
</head>
<body>
    <div class="head">
        <div style="text-align: center;"><h1>There are {{ about_file }} books</h1></div>
    </div><br>

        {% for book in books %}
            <div class="space" onclick="location.href='/books/{{book.id}}'">
            <ul>
            {% for key, value in book.items %}
                <li>{{ key }} : {{ value }}</li>
            {% endfor %}
            </ul>
            </div>
        {% endfor %}

</body>
</html>