{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="{% static 'untitled7/css/new.css' %}">
    <style type="text/css">
        .form {
    width: 20%;
    padding: 1px; /* Поля */
    background: #6c605c; /* Цвет фона */
    border: 2px solid #4e1818; /* Параметры рамки */
   }
    </style>
</head>
<body>
    <br>
    <div class="form">
    <h4>Zip file</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="zip" accept="application/zip">
        <button type="submit">upload</button>
    </form>
    </div>
</body>
</html>